*.suo
__pycache__/sheet.cpython-37.pyc
__pycache__/classes.cpython-37.pyc
*.pyproj
*.db
*.pyc
Text Files/token.txt
Text\ Files/ssh_key.txt
*.sln
*.config
Images/
Text\ Files/errorLog.txt
Text\ Files/HTMLDump.txt
.vscode